@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563EB;
  --background: #FFFFFF;
  --background-secondary: #F9FAFB;
  --text-primary: #111827;
  --text-secondary: #6B7280;
  --border: #E5E7EB;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--text-primary);
}

.dark body {
  background: #111827;
  color: #fff;
}
